<h1>Welcome to Fitbit integration</h1>

<h2>Here's how to get started: </h2>

<h3>1. Follow the link below to get your fitbit access code</h2>
<%= link_to "Fitbit ", @oauth_access_url, target: "_blank" %>

<h3>1. Go here to sign up. Bring your code! </h2>
<%= link_to "Sign up", new_user_registration_path %>
